version: '3.3'

services:
  web:
    build: ./
    volumes:
      - ./:/usr/src/app/
    expose:
      - 8000
    environment:
      - DOMAIN
    env_file:
      - env/django.env
      - env/postgres.env
    restart: unless-stopped

  db:
    image: postgres:12.0-alpine
    volumes:
      - postgres_volume:/var/lib/postgresql/data/
    env_file:
      - env/postgres.env
    restart: unless-stopped

  nginx:
    build: ./nginx
    environment:
      - DOMAIN
    volumes:
      - ./static/:/static
      - ./media/:/media
      - certbot-etc:/etc/letsencrypt
      - certbot-webroot:/var/lib/letsencrypt
      - ./dhparam:/etc/ssl/certs
    depends_on:
      - web
      - db
    ports:
      - 80:80
      - 443:443
    restart: unless-stopped

  certbot:
    image: certbot/certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-webroot:/var/lib/letsencrypt
    depends_on:
      - nginx
    command: >
      certonly -v --webroot --webroot-path=/var/lib/letsencrypt
        --email example@mail.com
        --non-interactive
        --agree-tos --no-eff-email --staging
        -d ${DOMAIN}

volumes:
  postgres_volume:
  certbot-etc:
  certbot-webroot:
