version: '3.8'

services:
  web:
    build: ./
    volumes:
      - ./:/usr/src/app/
    ports:
      - 8000:8000
    env_file:
      - .env
  db:
    image: postgres:12.0-alpine
    volumes:
      - postgres_volume:/var/lib/postgresql/data/
    env_file:
      - .env.db
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    volumes:
      - ./static/:/static
    depends_on:
      - web
      - db
    ports:
      - 80:80


volumes:
  postgres_volume: